<html lang="en">
  <head>
    <title>Flow Daily Planner</title>
  </head>
  <body>
    <h1>The daily planner made just for you!</h1>
    <h2>Personalize the way you plan your days with Flow plugins.</h2>
    <form>
      <input type="text" placeholder="Email address" />
      <button>Request access</button>
    </form>
  </body>
</html>
