<html lang="en">
  <head>
    <title>Flow Daily Planner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css" />
  </head>
  <body>
    <div
      class="w-full h-screen font-sans items-start justify-center lg:flex-row lg:items-center flex flex-col"
    >
      <div class="max-w-lg mx-a pb-50">
        <h1 class="text-5xl">The daily planner made just for you!</h1>
        <h2 class="text-lg">Personalize the way you plan your days with Flow plugins.</h2>
        <form class="flex gap-2">
          <input
            type="text"
            placeholder="Email address"
            class="ring-primary-200 placeholder:text-foreground-700 text-foreground-900 disabled:bg-background-300/50 disabled:ring-none hover:ring-primary-300 focus:ring-primary-500 rounded-md px-3 py-2 text-sm outline-none ring transition-colors duration-300 ease-in-out"
          />
          <button
            class="rounded-md text-sm shadow-none px-4 py-3 bg-primary-500 text-primary-50 hover:bg-primary-600 active:bg-primary-700 bg-opacity-100"
            >Request access</button
          >
        </form>
      </div>
      <div>
        <img src="hero-image.png" alt="Flow Daily Planner" />
      </div>
    </div>
  </body>
</html>
